.login-page{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../images/loginBg.png) no-repeat center center;
    background-size: cover;
    .login-card{
        position: relative;
        background: $white;
        border-radius: 10px;
        overflow: hidden;
        min-width: 400px;
        box-shadow: 0 30px 50px rgba(#cdcdcd, 0.50);
        &-header{
            position: relative;
            background: $primary;
            padding: 30px;
            z-index: 1;
            h3{
                @include font-size(36px);
                margin-bottom: 5px;
                color: $white;
            }
            p{
                @include font-size(16px);
                color: rgba($color: $info, $alpha: 0.7);
                margin-bottom: 0;
                letter-spacing: 0.5px;
            }
        }
        &-body{
            position: inherit;
            padding: 50px 0 20px;
            z-index: 1;
            .form-group{
                position: relative;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 2rem;                
                &:last-child{
                    margin-bottom: 0;
                }
                label{
                    padding-left: 30px;
                    padding-right: 30px;
                    margin: 0;
                }
                .form-control{
                    border: unset;
                    padding:0 30px;
                    height: calc(2em + 0.75rem);
                    background-color: transparent;
                    border-bottom:1px solid $border;
                    border-radius: unset;
                    &.is-invalid{
                        border-color: $danger;
                        &:focus{
                            box-shadow: unset;
                        }
                    }
                    &.is-valid{
                        border-color: $success;
                        &:focus{
                            box-shadow: unset;
                        }
                    }
                }
                .invalid-feedback{
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
        &-footer{
            position: relative;
            padding: 30px;
            text-align: center;
            z-index: 1;
            p{
                margin: 15px 0 0;
                a{
                    color: $orange;
                }
            }
        }        
    }
}