//function to for font-size in REM
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
  
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
  
@mixin placeholder {
  &::-webkit-input-placeholder {@content};
  &:-moz-placeholder           {@content};
  &::-moz-placeholder          {@content};
  &:-ms-input-placeholder      {@content};
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      transition: all ease-in-out 0.3s;
    }
  }
}
