$primary: #21315e;
$secondary: #c7c7c7;

$blue: #003c71;
$indigo: #1f87c1;
$purple: #6f42c1;
$pink: #FF1E8A;
$red: #DA1212;
$orange: #FF8C32;
$yellow: #ffc107;
$green: #48C751;
$teal: #0082ba;
$cyan: #00C2FF;
$light: #F0E3E3;
$gray: #b5b5b5;
$light-blue: #afe7ff;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$dark: #0F1724;


$white:#ffffff;
$border:#D9DEE4;
$lable:#5B5D72;
$breadscrumb:#A4A9AE;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $green,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $white,
    "dark": $dark,
    "blue": $blue,
    "indigo": $indigo,
    "orange": $orange,
    "gray": $gray,
    "light-gray":$breadscrumb
  ),
  $theme-colors
);

$border-radius: 4px;