@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import 'variables';
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "contactcard";
@import "form";

:root
{
  overflow: auto;
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;

  // chrome
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 6px solid #aaa;
    background-color: #aaa;
  }

  &::-webkit-scrollbar-track {
    border-radius: 13px;
    background-color: transparent;
    border: 6px solid transparent;
    background-clip: padding-box;
  }
}

:root.light{
  --bg-theme:#ffffff;
  --bg-color:#FAFCFD;
  --text-color:#222222;
  --duration: 0.5s;
  --timing: ease; 
  --btn-background:var(--primary);
  --btn-text:var(--white); 
}

:root.dark{
  --bg-theme:#3C415C;
  --bg-color:#040303;
  --text-color:#ffffff;
  --duration: 0.5s;
  --timing: ease;  
  --btn-background:var(--pink);
  --btn-text:var(--white);  
}

html,body{
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition:color var(--duration) var(--timing), background-color var(--duration) var(--timing);  
}
body{
  font-family: 'Rubik', sans-serif;
  color: var(--text-color);
}

.list-group-item{
  background: var(--bg-theme);
  color: var(--text-color);
}

.btn-primary{
  background-color: var(--btn-background);  
  color: var(--btn-text);
}

.user-type{
  position: relative;
  color: #9b9b9b;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      transition: all ease-in-out 0.3s;
    }
  }
}

.contact-card{
  &-image{
    @include aspect-ratio(1, 1); 
    overflow: hidden;   
  }
}