@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import 'variables';
// @import "node_modules/bootstrap/scss/mixins/hover";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
@import 'mixin';
@import "header";
@import "breadscrumb";
@import "contactcard";
@import "form";
@import "login";

:root
{
  overflow: auto;
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;

  // chrome
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 6px solid #aaa;
    background-color: #aaa;
  }

  &::-webkit-scrollbar-track {
    border-radius: 13px;
    background-color: transparent;
    border: 6px solid transparent;
    background-clip: padding-box;
  }
}

:root.light{
  --bg-theme:$white;
  --bg-color:$white;
  --text-color:#222222;
  --duration: 0.5s;
  --timing: ease; 
  --btn-background:var(--primary);
  --btn-text:var(--white); 
}

:root.dark{
  --bg-theme:#3C415C;
  --bg-color:#1A2029;
  --text-color:#ffffff;
  --duration: 0.5s;
  --timing: ease;  
  --btn-background:var(--pink);
  --btn-text:var(--white);  
}

html,body{
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);    
    font-weight: 400;
    transition:color var(--duration) var(--timing), background-color var(--duration) var(--timing);  
}
body{
  font-family: 'Rubik', sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

a{
  text-decoration: none;
  &:hover, &:focus{
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, p{
  color: $lable;
}

.page-area{
  padding-top: 75px;
  @include media-breakpoint-up(md){padding-top: 105px;}
}

.list-group-item{
  background: var(--bg-theme);
  color: var(--text-color);
}

.btn{
  padding: 0.75rem 1.5rem;
}

.user-type{
  position: relative;
  color: #9b9b9b;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.contact-card{
  &-image{
    @include aspect-ratio(1, 1); 
    overflow: hidden;   
  }
}

.form-div{
  padding: 20px 0;
  @include media-breakpoint-up(md){padding: 50px 0;}
}

.heading-section{
  position: relative;
  margin-bottom: 50px;
  .heading-icon{
    position: relative;
    margin-bottom: 20px;
    img{
      width: 40px;
    }
  }
  h5{
    margin-bottom: 0;
    letter-spacing: 1px;
    font-weight: 400;
    @include font-size(22px);
  }
}

.card-light-gray{
  border: unset;
  background-color: rgba($color: $breadscrumb, $alpha: 0.15);
}